.sound-menu:hover {
    -fx-text-fill: white;
    -fx-background-color: none;
}

.myDialog{
    -fx-background-image: url("background.jpg");
}
.myDialog > *.button-bar > *.container{
    /*-fx-background-color: #a9e200;*/
    -fx-text-fill: white;


}
.myDialog > *.label.content{
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 22px;
}

.myDialog:header *.header-panel{
    -fx-background-image: url("background.jpg");
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 26px;
    -fx-font-style: italic;
    -fx-fill: #292929;
    -fx-text-fill: white;
}
#startView{
    -fx-border-width: 100px;
    -fx-border-image-width: 100px;
}